*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    flex-direction: row;
    display: flex;
}

.img-section{
    height: 100%;
    width: 50%;
    background-image: url('resources/images/one.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.form-section{
    width: 50%;
    padding-left: 12%;
    padding-top: 8%;
    display: flex;
    flex-direction: column;
}

.login-form{
    margin-top: 30px;
}

.form-input{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    height: 30px;
    width: 350px;
    border: 1.75px #ebebeb solid;
    border-radius: 5px;
    padding: 20px 15px 20px 15px;   
}

.valid{
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-group{
    margin-top: 10px;
}

#email-error-message, #password-error-message{
    color: red;
}

.remember-forgot{
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.chkbox{
    height: 16px;
    width: 16px;
    position: relative;
    top: 0.2em;
}

.chkbox-label{
   font-size: 14px;
}

.links{
    font-size: 14px;
    text-decoration: none;
    color: rgb(17, 107, 243);
}

.btn{
    height: 50px;
    width: 350px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.error input{
    border: 2px solid red;
}

.input-group span{
    visibility: hidden;
}

.error span{
    visibility: visible;
}

.login-btn{
    background-color: rgb(10, 204, 84);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #fff;  
}

.icon{
    height: 20px;
    width: 20px;
    position: relative;
    top: 0.3em;
}

.btn:hover{
    opacity: 0.9;
}

.login-google-btn{
    background-color: rgb(63, 63, 63);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #fff;
   
}

.join-link{
    color: rgb(17, 107, 243);
    cursor: pointer;
}

.login-section{
    margin-top: 30px;
}

.join-free{
    margin: 5% 0%;
    width: 350px;
    text-align: center;
}


@media (max-width: 1080px) {
  
    .form-section{
        width: 70%;
    }
  }

@media (max-width: 720px) {
    .img-section{
        display: none;
    }

    .container{
        flex-direction: column;
    }

   .img-section{
    display: block;
    width: 100%;
   }

  }

  @media (max-width: 450px) {
    body{
        font-size: 12px;
    }

    .form-section{
        padding: auto;
    }

    .heading, .heading-para{
        font-size: 14px;
    }


    .chkbox-label{
        font-size: 12px;
    }

    .btn{
        height: 40px;
        width: 300px;
        font-size: 12px;
    }

    .remember-forgot{
        width: 300px;
    }

    .form-input{
        width: 300px;
    }

    .join-free{
        width: 300px;
    }
  }